:root {
    --lyrics-analysis-ink-color:#282D3C;
    --lyrics-analysis-score-color:#798EA4;
    --lyrics-analysis-score-color:#6B5876;
    --lyrics-analysis-secondary-color:#EDF1FE;
    --lyrics-analysis-percentage-color:#19558F;
    --lyrics-analysis-category-color:#0F4C81;
    --lyrics-analysis-gap-color:#f9fafe;
    --lyrics-analysis-link-color:#e8a798;
}

body{
    padding:0;
    margin:0;
    color: var(--lyrics-analysis-ink-color);
    font-family: 'Roboto', sans-serif;
    /* font-family: 'IBM Plex Sans', sans-serif; */
}

.container{
    padding: 0;
    margin: 0;
    /* #F5F8FA; #33729b; #9f805e; */
    /*    font-family: 'Open Sans', sans-serif;*/
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* font-family: 'Questrial', sans-serif; */
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin: 30px;
    margin-bottom: 0;
    font-weight: bold;
    width:1000px;
    padding-bottom: 30px;
    font-size:16px;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link{
    margin-left:24px;
    color:var(--lyrics-analysis-link-color);
    text-decoration: none;
}

.logo{
    width:100px;
}

.data{

    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    margin-bottom: 40px;
    background:white;

}

.keen-slider{
    height:350px;
}

.drawings{
    height:455px;
}

.heading{
    display: flex;
    flex-direction: row;
    background: var(--lyrics-analysis-secondary-color);
    width: 100%;
    height: 30px;
    align-content: center;
    /* margin-top: 40px; */
    align-items: center;
    margin-bottom: 20px;
}

.headinglabel{
    margin-left:20px;
    font-size: 14px;
    font-weight: bold;
    color: var(--lyrics-analysis-ink-color);
    text-transform: uppercase;
}

.beatles{
    display: flex;
    flex-direction: row;
    background: var(--lyrics-analysis-secondary-color);
    width: 100%;
    height: 30px;
    align-content: center;
    margin-top: 0;
    align-items: center;
    /* margin-bottom: 20px; */
}

.big5label{
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    align-items:center;
    background: var(--lyrics-analysis-secondary-color);
    width: 100%;
    height: 30px;
    align-content: center;
    align-items: center;
padding-left: 20px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: var(--lyrics-analysis-ink-color);
}

.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0;
}

.dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #eeeeee;
    border-radius: 50%;
    margin: 0 30px;
    padding: 5px;
    cursor: pointer;
}

  .dot:focus {
    outline: none;
  }

  .dot--active {
    background:var(--lyrics-analysis-score-color);
  }

.active{
    background:var(--lyrics-analysis-link-color);
}

.wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lyricsanalysis{
    color: #a69aac;
    margin-left:20px;
}

.frame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}

.bandpics{
    display: flex;
    flex-direction: column;
    width:485px;
    margin-right:15px;
    background:white;
}

.traitsection{
    display: flex;
    flex-direction: column;
    width:485;
    margin-left:15px;
    background: white;
}

.blurb{
    border: 1px dotted var(--lyrics-analysis-secondary-color);
    width: 100%;
    height: 500px;
    margin-top: 20px; 
}

.tracklist{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top:20px;
}

.albumbanner{

    /* text-transform: uppercase;

    display: flex;
    flex-direction: row;
    align-items:center;
    background: var(--lyrics-analysis-secondary-color);
    width: 100%;
    height: 30px;
    align-content: center;
    margin-top: 15px;
    align-items: center;
    margin-bottom: 20px;
padding-left: 20px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: var(--lyrics-analysis-ink-color); */
}

.album{
    display: flex;
    flex-direction: column;
    margin-right:30px;
}

.albumcover{
    height:130px;
    border: 1px solid var(--lyrics-analysis-secondary-color);
}

.albumtitle{
    font-size: 12px;
    font-weight: bold;
    /* margin-left: 20px; */
    color: var(--lyrics-analysis-score-color);
    text-transform: uppercase;
    margin-top: 15px;
    max-width:130;
    max-height: 20px;
    height: 20px;
}

.tracks{
    list-style-type: none;
    padding-left:0;
    max-width:120;
}

.track{
    text-transform: uppercase;
    font-size: 10px;
    color: #a69aac;
    line-height: 14px;
}

.moodlabel{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: var(--lyrics-analysis-ink-color);
    text-transform: uppercase;
    color: var(--lyrics-analysis-score-color);
}

.snippet{
    font-size: 12px;
    margin: 20px;
    line-height: 16px;

}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .container{
        font-size: 24px;  
    }    
    
    .frame{
        display: flex;
        flex-direction: column;
        width:100%;
    }

    .keen-slider{
        height:735px;
    }

    .numberbar {
        display: flex;
        min-width: 80%;
        max-width: 80%;
        height: 30px;
        padding: 20px;
    }

    .bandpics{
        width:100%;
    }

    .traitsection{
        width:100%;
        margin-left:0;
    }
    
    .banner{
        /* width: 100%; */
    }

    .heading{
        height: 120px;
    }

    .dots{
        margin-bottom: 30px;;
    }

    .logo{
        width:240px;
        padding-left:30px;
    }

    .links{
        padding-right:30px;
    }

    .headinglabel{
        margin-left:50px;
        font-size: 30px;
        font-weight: bold;
        color: var(--lyrics-analysis-ink-color);
        text-transform: uppercase;
    }

    .beatles{
        display: flex;
        flex-direction: row;
        background: var(--lyrics-analysis-secondary-color);
        width: 100%;
        height: 100px;
        align-content: center;
        margin-top: 0;
        align-items: center;
        /* margin-bottom: 20px; */
    }

    .drawings {
        height: 1000px;
    }

    .snippet {
        font-size: 30px;
        margin: 20px;
        line-height: 40px;
    }

    .blurb{
        border: 1px dotted var(--lyrics-analysis-secondary-color);
        width: 100%;
        height: 700px;
        margin-top: 20px; 
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .container{
        font-size: 26px;
        
    }  

    .frame{
        display: flex;
        flex-direction: column;
    }

    .keen-slider{
        height:735px;
    }

    .numberbar {
        display: flex;
        min-width: 80%;
        max-width: 80%;
        height: 30px;
        padding: 20px;
    }

    .bandpics{
        width:100%;
    }

    .traitsection{
        width:100%;
        margin-left:0;
    }


    .banner{
        /* width: 100%; */
    }

    .heading{
        height: 120px;
    }

    .dots{
        margin-bottom: 30px;;
    }

    .logo{
        width:240px;
        padding-left:30px;
    }

    .links{
        padding-right:30px;
    }

    .headinglabel{
        margin-left:50px;
        font-size: 30px;
        font-weight: bold;
        color: var(--lyrics-analysis-ink-color);
        text-transform: uppercase;
    }

    .beatles{
        display: flex;
        flex-direction: row;
        background: var(--lyrics-analysis-secondary-color);
        width: 100%;
        height: 100px;
        align-content: center;
        margin-top: 0;
        align-items: center;
        /* margin-bottom: 20px; */
    }

    .drawings {
        height: 1000px;
    }

    .snippet {
        font-size: 30px;
        margin: 20px;
        line-height: 40px;
    }

    .blurb{
        border: 1px dotted var(--lyrics-analysis-secondary-color);
        width: 100%;
        height: 700px;
        margin-top: 20px; 
    }
}
