<!-- template -->
<style>
    .traitsection {
        display: flex;
        flex-direction: column;
        width: 485;
        background: white;
    }

    .heading {
        display: flex;
        flex-direction: row;
        background: var(--lyrics-analysis-secondary-color);
        width: 100%;
        height: 30px;
        align-content: center;
        /* margin-top: 40px; */
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 1px dashed var(--farrow-background-color);
    }

    .headinglabel {
        margin-left: 20px;
        font-size: 12px;
        font-weight: bold;
        color: var(--lyrics-analysis-ink-color);
        text-transform: uppercase;
    }

    .album {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }

    .albumcover {
        height: 130px;
        border: 1px solid var(--farrow-background-color);
    }

    .albumtitle {
        font-size: 12px;
        font-weight: bold;
        /* margin-left: 20px; */
        color: var(--lyrics-analysis-ink-color);
        text-transform: uppercase;
        margin-top: 15px;
        max-width: 130px;
        max-height: 20px;
        height: 20px;
    }

    .tracklist {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-top: 20px;
        overflow: scroll;
    }

    .tracks {
        list-style-type: none;
        padding-left: 0;
        max-width: 120;
    }

    .track {
        text-transform: uppercase;
        font-size: 10px;
        color:var(--lyrics-analysis-ink-color);
        line-height: 14px;
    }


    @media (min-width: 320px) and (max-width: 480px) {
        .heading {
            height: 120px;
            border-bottom: 1px solid var(--farrow-background-color);
        }

        .headinglabel {
            margin-left: 50px;
            font-size: 30px;
            font-weight: bold;
            color: var(--lyrics-analysis-ink-color);
            text-transform: uppercase;
        }

        .albumcover {
            height: 240px;
            border: 1px solid var(--farrow-background-color);
        }

        .albumtitle {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 15px;
            max-width: 240px;
            max-height: 100px;
            height: 40px;
        }

        .tracks {
            list-style-type: none;
            padding-left: 0;
            max-width: 240px;
        }

        .track {
            text-transform: uppercase;
            font-size: 20px;
            line-height: 26px;
        }

    }


    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

        .heading {
            height: 120px;
            border-bottom: 1px solid var(--farrow-background-color);
        }

        .headinglabel {
            margin-left: 50px;
            font-size: 30px;
            font-weight: bold;
            color: var(--lyrics-analysis-ink-color);
            text-transform: uppercase;
        }

        .albumcover {
            height: 240px;
            border: 1px solid var(--farrow-background-color);
        }

        .albumtitle {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 15px;
            max-width: 240px;
            max-height: 100px;
            height: 40px;
        }

        .tracks {
            list-style-type: none;
            padding-left: 0;
            max-width: 240px;
        }

        .track {
            text-transform: uppercase;
            font-size: 20px;
            line-height: 26px;
        }

    }
</style>
<div>
    <section class="heading">
        <label id="headinglabel" class="headinglabel">ALBUMS</label>
    </section>
    <section class="tracklist" id="tracklist"></section>
</div>
<!-- template-->