<!-- template id="bandpic" -->
<style>
    .pic {
        display: flex;
        place-content: center;
        background: white;
    }

    .bandpic {
        width: 100%;
    }

    .bandpics {
        display: flex;
        flex-direction: column;
        width: 485px;
        background: white;
    }

    .drawings {
        /* height: 1000px; */
    }

    .beatles {
        display: flex;
        flex-direction: row;
        background: var(--lyrics-analysis-secondary-color);
        width: 100%;
        height: 30px;
        align-content: center;
        margin-top: 0;
        align-items: center;
        /* margin-bottom: 20px; */
    }

    .headinglabel {
        margin-left: 20px;
        font-size: 14px;
        font-weight: bold;
        color: var(--lyrics-analysis-ink-color);
        text-transform: uppercase;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .dot {
        margin: 10px;
        height: 12px;
        width: 12px;
        border-radius: 12px;
        border: none;
        background: #EDF1FE;
        outline:0;
    }

    .selectedDot{
        margin: 10px;
        height: 12px;
        width: 12px;
        border-radius: 12px;
        border: none;
        background:#6B5876 ;
        outline:0;
    }


    @media (min-width: 320px) and (max-width: 480px) {
        .bandpics {
            width: 100%;
        }

        .heading {
            height: 120px;
        }


        .headinglabel {
            margin-left: 50px;
            font-size: 30px;
            font-weight: bold;
            color: var(--lyrics-analysis-ink-color);
            text-transform: uppercase;
        }

        .beatles {
            display: flex;
            flex-direction: row;
            background: var(--lyrics-analysis-secondary-color);
            width: 100%;
            height: 100px;
            align-content: center;
            margin-top: 0;
            align-items: center;
            /* margin-bottom: 20px; */
        }
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
        .bandpics {
            width: 100%;
        }

        .heading {
            height: 120px;
        }


        .headinglabel {
            margin-left: 50px;
            font-size: 30px;
            font-weight: bold;
            color: var(--lyrics-analysis-ink-color);
            text-transform: uppercase;
        }

        .beatles {
            display: flex;
            flex-direction: row;
            background: var(--lyrics-analysis-secondary-color);
            width: 100%;
            height: 100px;
            align-content: center;
            margin-top: 0;
            align-items: center;
            /* margin-bottom: 20px; */
        }
    }
</style>

<div class="bandpics">
    <section class="drawings">
        <section class="beatles">
            <label id="eralabel" class="headinglabel">Psychedelia: 1967 - 1969</label>
        </section>
        <div id="siema" class="siema"></div>
        <div id="buttons" class="buttons"></div>
    </section>
</div>
<!-- /template -->