<!-- template -->
<style>
    .banner {
        /* display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        margin: 30px;
        margin-bottom: 0;
        font-weight: bold;
        width: 1000px;
        padding-bottom: 30px;
        font-size: 16px; */
    }

    .wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .lyricsanalysis {
        color: #a69aac;
        margin-left: 20px;
    }

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .link {
        margin-left: 24px;
        color: var(--lyrics-analysis-link-color);
        text-decoration: none;
    }

    .logo {
        width: 100px;
    }
</style>
<section class="banner">
    <div class="wrap">
        <img class="logo" src="./images/SVG/logo.svg"></img>
        <div class="lyricsanalysis">LYRICS PSYCHOLOGY</div>
    </div>
    <div class="links">
        <a class="link" href="comparison.html">COMPARISON</a>
        <a class="link" href="">ABOUT</a>
    </div>
</section>
<!-- template -->